.cart-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 1em;
}

.cart-item-image {
    width: 20%;
    border-radius: 10px;

}

.cart-item-name {
    font-size: 1em;
    order: -1;
    width: 100%;
    margin-bottom: 0.5em;
}

.line {
    width: 100%;
    margin-top: 0.5em;
    border: 0;
    border-top: 1px solid rgb(207, 206, 206);
}

.button-container {
    width: 5em;
    display: flex;
    margin-left: 2em;
}

.plus-btn {
    background-color: rgb(222, 221, 221);
    border-radius: 50%;
    border: 0;
    font-weight: 1000;
    padding: 0.6em 1em;
}

.cart-quatity {
    padding: 0.5em;
}

.button-quantity{
}

@media screen and (min-width: 768px) {
    .cart-item-name {
        order: 0;
        margin: 0;
        width: fit-content;
    }

    .cart-item {
        flex-wrap: nowrap;
    }
}