.navbar {
    width: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-logo {
    width: 4em;
    padding: 1em;
}

.link-element {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-decoration: none;
    font-weight: 1000;
    font-size: 1.5em;
}
@media screen and (max-width: 576px) {
    .nav-logo{
        width: 4em;
        padding:0.5em;
    }
    .link-element{
        font-size: 1em;
    }
}
@media screen and (min-width:577px)and  (max-width: 800px) {
    .nav-logo{
        width: 5em;
    }
    .link-element{
        font-size: 1.5em;
    }
}
.link-element:hover {
    color: cyan;
    text-shadow: 2px 2px #ff0000a3;
}