.cart {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.cart-heading {
    font-size: 1.5em;
    text-align: center;
    padding: 1em;
    color: rgba(58, 47, 47, 0.812);

}

.cart-container {
    background-color: #ededed;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.cart-item-container {
    list-style: none;
    margin: 1em;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
    display: flex;
    flex-direction: column;
}

.no-items {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.total-container {
    text-align: right;
    margin-top: 1em;
}

.total {
    font-weight: 700;
    font-size: 1em;
    margin-left: 3em;
}

.remove-all {
    background-color: transparent;
    color: red;
    border: 0;
    font-size: 0.7em;
    font-weight: 700;
    align-self: flex-end;
    cursor: pointer;
}

.placeOrder-button {
    background-color: black;
    border: 0;
    border-radius: 10px;
    color: white;
    font-weight: 700;
    padding: 1em 2em;
    margin-top: 1em;
    margin: 1em;
    align-self: flex-end;
    cursor: pointer;
}