.home-container {
    width: 100%;
}

.products-container {
    background-image: url("https://ik.imagekit.io/charukesh/ice_creams/2718549_VAcsiAHAP9.jpg?ik-sdk-version=javascript-1.4.3&updatedAt=1651570979312");
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 2em;
}

@media screen and (min-width: 576px) {
    .products-container {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}