.eachOrder {
    list-style: none;
    padding: 1em;
    box-shadow: 0px 0px 9px 1px rgba(0, 0, 0, 0.74);
    border-radius: 10px;
    margin: 1em;
}

.eachItem {
    color: rgb(89, 85, 85);
    font-weight: 500;
    display: flex;
    justify-content: space-between;
}

.eachItem-name {
    margin: 0.5em;

}

.order-heading {
    font-weight: 700;
    color: black
}

.order-total {
    margin-top: 1em;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.order-link {
    text-decoration: none;
    align-self: center;
    width: 100%;
}

@media screen and (min-width: 768px){
    .order-link{
        width: 50%;
    }
}