.product-card {
    margin-top: 2em;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.766);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 2px 0px, rgb(0 0 0 / 12%) 0px 2px 4px 0px;
    text-decoration: none;
}

.product-image {
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.product-details-container {
    padding: 1em;
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.product-name {
    color: rgba(0, 0, 0, 0.985);
    font-size: 1em;
    font-family: proxima-nova, sans-serif;
    font-weight: 600;
}

.product-description {
    color: rgba(122, 122, 122, 0.87);
    font-weight: 600;
    font-size: 0.7em;
    margin-top: 0.5em;
}

.product-price {
    font-weight: 700;
    color: rgba(53, 50, 50, 0.912);
    margin-top: 0.5em;
    padding: 0.5em 1em;
    font-size: 1em;
}

.add-to-cart-btn {
    border: 0.15em solid black;
    background-color: transparent;
    padding: 0.8em 1em;
    border-radius: 10px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 0.5em;

}

.quatity-control-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5em;
    border: 0.1em solid black;
    border-radius: 10px;
}

.quatity-control-btn {
    border: 0;
    background-color: transparent;
    font-weight: 1000;
    font-size: 1em;
    cursor: pointer;
    padding: 0.5em 1em;
}

.quatity {
    font-weight: 1000;
    font-size: 0.9em;
    padding: 0.5em 1.2em;
    color: rgb(255, 255, 255);
    background-color: black;
    border: 2px solid black;
}
.bg-green {
    background-color: rgba(153, 255, 153, 0.752);
}

@media screen and (min-width: 576px) {
    .product-card {
        width: 45%;
    }

    .product-name {
        font-size: 0.9em;
    }

    .product-description {
        font-size: 0.6em;
    }

    .product-price {
        font-size: 0.9em;
    }
}

@media screen and (min-width: 800px) {
    .product-card {
        width: 30%;
    }

    .product-name {
        font-size: 0.9em;
    }

    .product-description {
        font-size: 0.6em;
    }

    .product-price {
        font-size: 0.9em;
    }
}
