.product-id-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-details-page-logo {
    margin-top: 3em;
    width: 20em;
    align-self: center;
}

.product-img {
    width: 100%;
}

.product-route-details-container {
    margin: 2em;
    padding: 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.28);
}

@media screen and (min-width: 576px) {
    .product-route-details-container {
        flex-direction: row;
        padding: 0;
        padding-right: 2em;
        justify-content: space-between;
        align-items: center;
        max-width: 700px;
    }

    .product-img {
        border-radius: 10px;
        width: 20%;
        order: -1;
    }

    .product-name-price {
        text-align: center;
    }
}